@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 15% 96.4%;
    --foreground: 240 10% 3.9%;

    --element: 240 15% 98.5%;
    --element-foreground: 240 10% 3.9%;

    --muted: 240 15% 91.5%;
    --muted-foreground: 240 3.8% 46.1%;

    --border: 240 15% 94%;
    --input: 240 15% 90%;
    --ring: 240 10% 3.9%;
    --scrollbar: 240 15% 87.5%;

    --radius: 0.5rem;
  }

  .dark {
    color-scheme: dark;

    --background: 240 10% 5.9%;
    --foreground: 0 0% 98%;

    --element: 240 10% 8.4%;
    --element-foreground: 0 0% 98%;

    --muted: 240 10% 13.9%;
    --muted-foreground: 240 5% 64.9%;

    --border: 240 10% 13.9%;
    --input: 240 10% 13.9%;
    --ring: 240 4.9% 83.9%;
    --scrollbar: 240 12% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scrollbar scrollbar-thumb-scrollbar scrollbar-track-transparent;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-2xl lg:text-3xl font-bold mb-4;
  }

  h2 {
    @apply text-lg lg:text-xl font-semibold mb-2;
  }

  input {
    @apply accent-rose-500 dark:accent-rose-400;
  }
}

@layer components {
  .primary-gradient {
    @apply bg-gradient-to-r from-rose-500 to-amber-500;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}
