@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 15% 96.4%;
    --foreground: 240 10% 3.9%;

    --element: 240 15% 98%;
    --element-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --muted: 240 15% 93%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 15% 93%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 15% 90%;
    --input: 240 15% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    color-scheme: dark;

    --background: 240 10% 5.9%;
    --foreground: 0 0% 98%;

    --element: 240 10% 8.4%;
    --element-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --muted: 240 10% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 10% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 10% 15.9%;
    --input: 240 10% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-y-scroll;
  }
}
