@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html {
  color-scheme: dark;
}

body {
  font-family: "Roboto", sans-serif;
}

@layer base {
  * {
    @apply border-neutral-800;
  }

  html {
    @apply scrollbar scrollbar-thumb-neutral-700 scrollbar-track-transparent;
  }

  body {
    @apply bg-neutral-950 text-neutral-50;
  }

  input {
    @apply accent-primary-500;
  }

  h1 {
    @apply text-2xl lg:text-3xl font-bold mb-4;
  }

  h2 {
    @apply text-lg lg:text-xl font-semibold mb-2;
  }
}

@layer components {
  .primary-gradient {
    @apply bg-gradient-to-r from-primary-500 to-secondary-500;
  }
}
